.popup__container{
    width: 430px;
    height: 330px;
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: relative;
    margin-left: calc(100vw/2 - 215px);
    margin-top: calc(100vh/2 - 165px);
}
@media screen and (max-width: 559px) {
    .popup__container {
        width: 282px;
        height: 322px;
        margin-left: calc(100vw/2 - 141px);
        margin-top: calc(100vh/2 - 166px);
    }
}