.elements {
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 17px 20px;
  justify-content: center;
  margin: 50px auto 67px;
}

@media screen and (max-width: 583px){
  .elements{
    margin: 0 auto 48px;
  }
}