.profile__info {
  margin:  22px 0 0 30px;
  padding: 0;
  display: grid;
  grid-template-columns: 294px 24px;
  grid-template-rows: 39px 18px;
  gap: 16px 18px;
  align-items: start;
}
@media screen and (max-width: 920px){
  .profile__info{
    grid-template-columns: 190px 18px;
    grid-template-rows: 26px 14px;
    margin:22px auto 0;
    gap: 14px 10px;
  }
}
