.element__like {
  margin-top: 5px;
  margin-right: 5px;
  padding: 0;
  cursor: pointer;
  background-image: url(../../../images/svg/heart_empty.svg);
  background-repeat: no-repeat;
  width: 22px;
  border: none;
  background-color: transparent;
  transition: opacity 1s linear;
}
.element__like:hover {
  opacity: 0.6;
}
