.element {
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-height: 361px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}